*~
.*.swp

/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/config
/configure
/config.log
/config.status
/libtool

/livecd/.lock
/livecd/.permissions
/livecd/.stage
/livecd/cache
/livecd/chroot
/livecd/config
/livecd/binary*
/livecd/iso-label
/livecd/mk.livecd.conf

*.iso

/kernel
/vyatta-*
/ppp
/wanpipe
