[submodule "pkgs/vyatta-op"]
	path = pkgs/vyatta-op
	url = http://git.vyatta.com/vyatta-op.git
[submodule "pkgs/vyatta-cfg"]
	path = pkgs/vyatta-cfg
	url = http://git.vyatta.com/vyatta-cfg.git
[submodule "pkgs/vyatta-op-xml"]
	path = pkgs/vyatta-op-xml
	url = http://git.vyatta.com/vyatta-op-xml.git
[submodule "pkgs/vyatta-op-firewall"]
	path = pkgs/vyatta-op-firewall
	url = http://git.vyatta.com/vyatta-op-firewall.git
[submodule "pkgs/vyatta-cfg-firewall"]
	path = pkgs/vyatta-cfg-firewall
	url = http://git.vyatta.com/vyatta-cfg-firewall.git
