*~
.*.swp

/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/config
/configure
/config.log
/config.status
/libtool

/livecd/.lock
/livecd/.permissions
/livecd/.stage
/livecd/cache
/livecd/chroot
/livecd/config
/livecd/binary*
/livecd/iso-label

/kernel
/vyatta-cfg
/vyatta-op
/vyatta-cfg-quagga
/vyatta-op-quagga
/vyatta-cfg-system
/vyatta-config-migrate
/vyatta-bash
