*~
.*.swp
/Packages*
/Release
/Release.gpg
/vyatta-udebs

/aclocal.m4
/autom4te.cache
/config
/configure
/config.log
/config.status
/libtool

/livecd/.lock
/livecd/.permissions
/livecd/.stage
/livecd/cache
/livecd/chroot
/livecd/config
/livecd/binary*
/livecd/iso-label
/livecd/mk.livecd.conf
/livecd/version
/livecd/branch
/livecd/xensource
/livecd/buildid
/livecd/builtby
/livecd/iso-submodules.txt

/mk.conf

/pkgs/*.build
/pkgs/*.changes
/pkgs/*.deb
/pkgs/*.dsc
/pkgs/*.tar.gz
/pkgs/*.udeb
/pkgs/Packages
/pkgs/Packages.gz
/pkgs/.VYOS_DEV_BUILD

/autobuild-vm

debian/control

*.iso


